extends layout 

block content 
    h1= title
    p= category.description

    if items.length > 0
        ul  
            each item in items 
                li 
                    a(href=item.url)=item.name 
    else    
        p No items belongs to this category!