extends layout 

block content 
    h1= title
    
    form(method='POST')

        div.form-flex
            div 
                label(for="name") Name: 
                input#name(type="text" name="name", placeholder='Dairy, meat etc...', value=(category===undefined ? '': category.name ) required)
            div 
                label(for="description") Description: 
                input#description(type='text', name="description", value=(category===undefined ? '': category.description ),  placeholder="Describe the product", required, )
            button(type="submit") Submit 
    
    if(errors) 
        ul 
            each error in errors 
                li= error.msg 