extends layout 

block content 

    h1= title
    ul
        each item in items 
            li 
                a(href=item.url)= item.name 
        else 
            p sorry there's no items, they will appear here as soon as you add them! 
