doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.wrapper
      div.navbar 
        ul
          li 
            a(href="/items") All items:  
          li 
            a(href="/categories") All categories:  
          hr
          li 
            a(href="/categories/create") Add Category: 
          li 
            a(href="/items/create") Add item:   
      div.main-content  
          block content
